.home-section {
  min-height: 100vh;
  padding-top: 120px;
  padding-bottom: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* LEFT Intro */
.intro-text {
  font-size: 18px;
  color: var(--text-main);
  margin-bottom: 10px;
}

.hero-name {
  font-size: clamp(32px, 6vw, 55px);
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  color: var(--text-main);
}

.hero-role {
  font-size: clamp(18px 4vw, 25px);
  font-weight: 600;
  min-height: 40px;
  background: linear-gradient(135deg, #3b82f6, #8b5cf6, #ec4899);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin-bottom: 20px;
}

.typed-cursor {
  font-size: 30px;
  color: var(--accent);
}

.hero-desc {
  max-width: 520px;
  text-align: justify;
  font-size: 16px;
  color: var(--text-main);
  margin: 10px 0;
  line-height: 28px;
}

.hero-buttons {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  margin-top: 25px;
}

.hero-btn {
  padding: 8px 16px;
  border-radius: 10px;
  color: var(--text-white);
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  font-weight: 600;
  outline: none;
  transition: all 0.3s ease;
}

.hero-btn:hover {
  background: linear-gradient(135deg, #8b5cf6, #ec4899);
  color: var(--text-white);
  border: none;
  transform: translateY(-2px);
  box-shadow: 0 6px 25px rgba(236, 72, 153, 0.35);
}

.social-media {
  display: flex;
  gap: 15px;
  margin-top: 20px;
}

.social-media a {
  font-size: 30px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.05);
  color: var(--text-white);
  transition: all 0.3s ease;
}

.social-media a:hover {
  color: var(--primary);
  box-shadow: 0 0 12px var(--primary);
}

/* RIGHT IMAGE */

.hero-img-container {
  position: relative;
  display: inline-block;
}

.hero-img-container::before {
  content: "";
  width: 100%;
  max-width: 400px;
  aspect-ratio: 1/1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: radial-gradient(
    circle,
    rgba(189, 45, 233, 0.45),
    rgba(37, 99, 235, 0.35),
    transparent 70%
  );
  filter: blur(80px);
  opacity: 0.8;
  z-index: -1;
}

.hero-img {
  position: relative;
  z-index: 2;
  width: 100%;
  max-width: 280px;
  height: auto;
  border-radius: 20px;
  box-shadow: 0 25px 60px rgba(0, 0, 0, 0.45);
  animation: float 4s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0px);
  }
}

/* responsiveness */
@media (max-width: 768px) {
  .home-section {
    padding-top: 100px;
    text-align: center;
  }

  .hero-left {
    margin-bottom: 30px;
  }

  .hero-desc {
    text-align: center;
    max-width: 100%;
  }

  .hero-buttons {
    justify-content: center;
  }

  .social-media {
    justify-content: center;
  }
}

@media (max-width: 576px) {
  .social-media a {
    font-size: 20px;
    width: 40px;
    height: 40px;
  }
}
